#items{
  margin-top:20px;
}

#projectDirectory{
  background:#808080;
  padding-top:0.5%;
  padding-bottom:0.5%;
  text-align:center;
}

@media screen 
  and (min-width: 800px) { 
  .itembox{
    float:left;
    width:30%;
    padding:1.3333333333333%;
  }
  #items .itemprofile{
    text-align: center;
    width:100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
  }
}

@media screen 
  and (max-width: 801px) {
  .itembox{
    float:left;
    width:40%;
    padding:2.5% 5%;
  }
  #items .itemprofile{
    float:left;
    text-align: center;
    width:100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
  }
}

.thumbnail{
  display:block;
  width:100%;
  height:auto;
}

.title{
  text-align: center;
  padding: 1% 4%;
}

#projectDirectory li{
  cursor: pointer;
  float:center;
  display:inline;
  padding:1% 2% 1% 2%;
}

#projectDirectory li:hover{
  color:#cccccc;
  font-weight:bold;
}

#projectDirectory a{
  color:#ffffff;
  text-decoration: none!important;
  font-size:16px;
}


