documents/projects/lego_sec/LEGO filter=lfs diff=lfs merge=lfs -text
SEC.mp4 filter=lfs diff=lfs merge=lfs -text
documents/projects/lego_sec/LEGO[[:space:]]SEC.mp4 filter=lfs diff=lfs merge=lfs -text
